:root {
  --primary: rgb(50, 120, 210);
  --secondary: rgb(146, 138, 144);
  --success: rgb(50, 190, 100);
  --warning: rgb(254, 192, 45);
  --danger: rgb(198, 16, 63);
  --info: rgb(117, 152, 193);
  --dark: rgb(50, 60, 60);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin: 0;
}

body {
  /* background: url("./img/sky.webp"); */
  background: url("./img/sunset.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0;
  color: #fff;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.row {
  display: flex;
  /* display: block; */
  min-height: calc(100vh - 100px);
  justify-content: flex-start;
  align-items: flex-end;
}

main.row {
  min-height: calc(100vh - 80px);
}

.btn {
  text-decoration: none;
  letter-spacing: 1px;
  border: 1px solid #000;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  padding: 6px 12px;
}

.navbar {
  padding: 1em;
}

.nav-logo {
  width: 105px;
  height: 45px;
}

.temperature {
  font-size: 180px;
  text-align: center;
}

.city {
  font-size: 80px;
  text-align: center;
}

.description {
  text-align: center;
}

.weather-icon {
  font-size: 9em;
}

#search-bar {
  padding: 6px 12px;
}

/* .input-group {
  max-width: 500px;
  margin: 0 auto;
} */

.sidebar {
  color: #fff;
  align-items: center;
  display: grid;
  background: rgb(0 0 0 / 40%);
  backdrop-filter: blur(10px);
}
.sidebar-icon {
  font-size: 2em;
}
.grid-item {
  display: flex;
  justify-content: space-evenly;
}

@media (min-width: 750px) {
  .description {
    margin: 0 5em;
  }
}
