:root {
  --primary: rgb(50, 120, 210);
  --secondary: rgb(146, 138, 144);
  --success: rgb(50, 190, 100);
  --warning: rgb(254, 192, 45);
  --danger: rgb(198, 16, 63);
  --info: rgb(117, 152, 193);
  --dark: rgb(50, 60, 60);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

* {
  text-align: center;
}

body {
  background: url("./img/sky.webp");
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
}

.navbar {
  padding: 1em;
}
.nav-logo {
  width: 105px;
  height: 45px;
}

.btn {
  font-size: 1.5em;
  padding: 0;
}

.main {
  padding: 100px 0;
}
.row {
  /* display: flex; */
  display: block;
  min-height: calc(100vh - 100px);
  justify-content: space-between;
}
.main-text {
  min-width: 450px;
  /* width: 65%; */
}

.weather-icon {
  font-size: 19em;
}

.day {
  color: rgb(255, 128, 82);
}

.night {
  color: navy;
}

.input-group {
  max-width: 500px;
  margin: 0 auto;
}

.sidebar {
  color: #fff;
  align-items: center;
  display: grid;
  background: rgb(5 3 0 / 40%);
  backdrop-filter: blur(10px);
}
.sidebar-icon {
  font-size: 2em;
}
.grid-item {
  display: flex;
  justify-content: space-evenly;
}

@media (min-width: 45em) {
  .row {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }
}
