.input-group {
  max-width: 500px;
  margin: 0 auto;
}

.icon {
}

.card {
  text-align: center;
  min-height: 75vh;
  max-width: 500px;
  border: 1px solid #8b8b8b;
  border-radius: 15px;
  margin: 3em auto;
  background-color: whitesmoke;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
}
